<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="6a3c170b-6234-4d21-8be9-96e2d8aad1a1"
            Publisher="CN=Saurabh"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>funquiz</DisplayName>
    <PublisherDisplayName>Saurabh</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="funquiz.App">
        <VisualElements
            DisplayName="funquiz"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="funquiz"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>